.services{
    background: linear-gradient(180deg, #0c0c1d, #111132);
    height: 100%;
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 150px;

    .intro{
        h2{
            font-size: medium;
            flex-shrink: 1;
        }
        h3{
            font-size: medium;
            flex-shrink: 1;
        }
    }
    
    h1{
        margin-top: 20px;
        color: chocolate;
        flex-shrink: 1;
    }
}