.hero{
    height: 100%;
    overflow: hidden;
    background: linear-gradient(180deg, #0c0c1d, #111132);
    position: relative;

    
    
    .hero-flex{
        margin-top: 60px;
        display: flex;
        flex-direction: column;
    

    .textContainer{
        font-family: Tahoma;
        text-decoration: none;
        justify-content: space-between;
        margin-top: 120px;
        margin-bottom: 20px;
        margin-left: 100px;
     
       
        h3{
            color: rgb(80, 2, 80);
            letter-spacing: 10px;
            flex-shrink: 1;
        }
        h1{
            font-size: 50px;
            line-height: 50px;
            flex-shrink: 1;
            
        }
        /* media query */
        @media (max-width: 540px) {
            h3{
                letter-spacing: 8px;
            }
            h1{
                font-size: 25px;
                line-height: 25px;
                flex-shrink: 1;
            }
        }
        @media (min-width: 541px) and (max-width: 900px){
            h3{
                letter-spacing: 10px;
            }
            h1{
                font-size: 30px;
                line-height: 30px;
                flex-shrink: 1;
            }
        }
        @media (min-width: 901px) and (max-width: 1024px){
            h3{
                letter-spacing: 10px;
            }
            h1{
                font-size: 30px;
                line-height: 30px;
                flex-shrink: 1;
            }
        }
        
    }
       
        .buttons{
          margin-left: 100px;
            button{
                padding: 10px 10px;
                border-radius: 8px;
                background-color: transparent;
                color: white;
                border-color: white;
                margin-left: 10px;
                border-width: 1px;
                cursor: pointer;
                flex-shrink: 1;
            }
            button:hover{
                background-color: white;
                color: black;
            }
            button:active{
                background-color: white;
                color: pink;
            }
            .btn{
                padding: 10px 10px;
                border-radius: 8px;
                background-color: white;
                color: rgb(36, 0, 36);
                margin-left: 10px;
                cursor: pointer;
                flex-shrink: 1;
            }
            .btn:hover{
                background-color:transparent;
                border-width: 1px;
                color:white;
                border-color: white;
            }
         

            /* media query */
            @media (max-width: 500px) {
                button{
                padding: 5px 5px;
                border-radius: 4px;
                }
                .btn{
                    padding: 5px 5px;
                    border-radius: 4px; 
                }
            }

            @media (min-width: 500px) and (max-width: 900px) {
                button{
                padding: 7px 7px;
                border-radius: 6px;
                }
                .btn{
                    padding: 7px 7px;
                    border-radius: 6px; 
                }
            }
      
        }

   
    }
    
    .slidingTextContainer{
        position: absolute;
        white-space: nowrap;
        width: 100%;
        color: #ffffff09;
        font-weight: bold;
        flex-shrink: 1;
             h3{
                font-size: 50px;
                flex-shrink: 1;
             }
/* media query*/
@media (max-width: 540px) {
    h3{
        font-size: 30px;
    }
}

    }

    .imageContainer{
        height: 200px;
        width: 200px;
         position: absolute;
         margin-left: 870px;
         margin-top: 80px;
         img{
            width: 100%;
            border-radius: 20px;
         }
        }
         /* media query*/

        @media (max-width: 540px) {
            .imageContainer{
                height: 150px;
                width: 150px;
                 position: absolute;
                 margin-left: 270px;
                 flex-shrink: 5;
                 img{
                    width: 100%;
                    border-radius: 10px;
                 }
        }
     }
 
  .resume-button{
    margin-top: 300px;
    margin-left: 600px;
    padding: 10px 10px;
    border-radius: 8px;
    background-color: transparent;
    color: white;
    border-color: white;
    border-width: 1px;
    cursor: pointer;
    flex-shrink: 1;
  }

}