.hero{
    height: 100%;
    overflow: hidden;
    background: linear-gradient(180deg, #0c0c1d, #111132);
    position: relative;

    
    
    .hero-flex{
        display: flex;
        flex-direction: column;
    

    .textContainer{
        font-family: Tahoma;
        text-decoration: none;
        justify-content: space-between;
        margin-top: 120px;
        margin-bottom: 20px;
        margin-left: 100px;
     
       
        h3{
            color: rgb(80, 2, 80);
            letter-spacing: 10px;
            flex-shrink: 1;
        }
        h1{
            font-size: 50px;
            line-height: 50px;
            flex-shrink: 1;
            
        }
    }
       
        .buttons{
          margin-left: 100px;
            button{
                padding: 10px 10px;
                border-radius: 8px;
                background-color: transparent;
                color: white;
                border-color: white;
                margin-left: 10px;
                border-width: 1px;
                cursor: pointer;
                flex-shrink: 1;
            }
            .btn{
                padding: 10px 10px;
                border-radius: 8px;
                background-color: white;
                color:rgb(36, 0, 36);
                margin-left: 10px;
                border: none;
                cursor: pointer;
                flex-shrink: 1;
            }
      
        }

   
    }
    
    .slidingTextContainer{
        position: absolute;
        font-size: 100px;
        white-space: nowrap;
        width: 50%;
        color: #ffffff09;
        font-weight: bold;
             
    .imageContainer{
        height: 200px;
        width: 200px;
         position: absolute;
         margin-left: 1000px;
         img{
            width: 100%;
             border-radius: 20px;
         }
     }
 
    }
  

}